* body{

    /* background-color: black; */
    width: 1335px;
    font-family: sans-serif;
}

.firstpage{
    background-color: black;
    color: white;
    
}

.navbar{
    padding: 25px 70px;
    display: flex;
    justify-content: center;
    gap: 100px  ;
    color: rgb(155, 151, 151);
    font-weight: bold;
    align-items: center;
}

.ul{
    display: flex;
    list-style: none;
    gap: 30px   ;
}

#logo{
    position: absolute;
    left: 100px;
}

#login{
    height: 50px;
    width: 120px;
    background-color: hwb(212 21% 5%);
    border-radius: 40px;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 75px;
}

.belownav{
    margin: 80px 90px;
    display: flex;
    gap: 90px   ;
    padding-bottom: 90px;
}

.leftsection{
    width: 700px;
    margin-top: -50px;
}

#heading{
    font-size: 60px;
    line-height: 80px;
}

#cheap{
    color: rgb(0, 81, 255);
}
#para{
    color: gray;
    font-size: 20px;
    line-height: 35px;
    margin-top: -20px;
}

#btn1{
    height:60px  ;
    width: 180px;
    margin-top: 35px;
    margin-left: 25px;
    background-color: hwb(212 21% 5%);
    border-radius: 40px;
    color: white;
    font-size: 20px;
    position: relative;
    left: -25px;
}
#btn2{
    height:60px  ;
    width: 180px;
    margin-top: 35px;
    margin-left: 25px;
    background-color: black;
    border-radius: 40px;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    position: relative;
    left: -25px;
}

.belowbar{
    margin-top: -80px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 17, 17);
    padding: 40px 0px;
    gap: 140px  ;
}

.secondpage{
    /* background-color: black; */
    margin-top: -21px;
    padding: 130px 100px 90px 90px;
    
}
#secondh1{
    font-size: 60px;
    text-align: center;
}
#secondp{
    text-align: center;
    color: gray;
    margin-top: -10px;
    font-size: 20px;
    line-height: 30px;
}

.box3{
    display: flex;
   margin-top: 120px;
   margin-bottom: 120px;
   justify-content: center;
   gap: 60px;
}
.box1st{
    border: 2px solid rgb(219, 214, 214);
   text-align: center;
   padding:30px 35px;
   padding-bottom: 40px;
   border-radius: 35px;
   width: 280px;
}
#boxp1st{
    font-size: 19px;
    line-height: 28px;
    color: gray;
}

.box2nd{
    border: 2px solid rgb(219, 214, 214);
   text-align: center;
   padding:30px 25px;
   padding-bottom: 40px;
   border-radius: 35px;
   background-color: black;
   width: 280px;
   position: relative;
   bottom: 50px;
}

#boxp2nd{
    font-size:19px;
    line-height:28px;
    color: gray;
}
#boxh22nd{
    color: white;
}

.box3rd{
    border: 2px solid rgb(219, 214, 214);
   text-align: center;
   padding:30px 25px;
   padding-bottom: 40px;
   border-radius: 35px;
   width: 280px;
}
#boxp3rd{
    font-size: 19px;
    line-height: 28px;
    color: gray;
}

#secondpageh1{
    font-size: 50px;
    line-height: 70px;
}

.buttongroupleft{
    display: flex;
    gap: 30px;
    margin-top: 80px;
}

.whitebtn{
    /* display: flex; */
    width: 650px;
    
}

#btn11{
    width: 650px;
    height: 100px;
    background-color: hwb(212 21% 5%);
    text-align: left;
    align-items: center;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 50px;
    border: none;
    margin-bottom: 25px;
}

#btn11img{
    position: relative;
    left: 300px;
    top: 15px;
}

#btn22{
    width: 650px;
    height: 100px;
    background-color: white;
    text-align: left;
    align-items: center;
    color:black;
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 50px;
    border: 1px solid gray;
    margin-bottom: 25px;
    font-weight: bold;
}

#btn22img{
    position: relative;
    left: 263px;
    top: 15px;
}

#btn23img{
    position: relative;
    left: 25px;
    top: 15px;
}

#btn24img{
    position: relative;
    left: 263px;
    top: 15px;
}

#btn25img{
    position: relative;
    left: 100px;
    top: 15px;
}

.buttongroupright{
    width: 630px;
    background-color: black;
    justify-content: center;
    padding: 30px 20px;
    border-radius: 40px;
}

#btnli{
    width: 430px;
    height: 62px;
    text-align: left;
    font-size: 20px;
    color: white;
    background-color: rgb(45, 46, 46);
    border-radius: 40px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.page3rd{
    background-color: black;
    color: white;
    padding: 120px 120px;
}
.upper3rd{
    display: flex;
    gap: 120px;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
#h13rd{
    font-size: 50px;
    line-height: 75px;
    margin-top: -60px;
}

.threesidepage{
    padding-top: 60px;
    display: flex;
    gap: 30px;
}

.firstsidepage{
    background-color: white;
    color: gray;
    padding: 20px 20px;
    border-radius: 25px;
}
#firstsidepageh1{
    color: black;
    font-weight: bolder;
    margin-top: 10px;
}
#firstsidepageh2{
    font-size: 60px;
    color: black;
    margin: 15px 0px;
}
#firstsidepageh2mon{
    font-size: 30px;
    color: gray;
}
#firstsidepagep{
    color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}
#firstsidepagep2{
    font-weight: bold;
    color: rgb(235, 223, 223);
}
.firstsidepageul{
    list-style: none;
    padding-left: 12px;
    line-height: 40px;
    align-items: center;
    color: rgb(77, 75, 75);
    font-weight: bold;
    justify-content: center;
    margin-top: 40px;
}
#firstsidepageli{
    padding-right: 12px;
    position: relative;
    top: 5px;
}
#firstsidepagebtn{
    padding: 20px 115px;
    margin: 20px 10px;
    border-radius: 35px;
    background-color: hwb(212 21% 5%);
    font-size: 20px;
    color: white;
    border: none;
}

.secondsidepage{
    background-color: hwb(212 21% 5%);
    color: white;
    padding: 20px 20px;
    border-radius: 25px;
}
#secondsidepageh1{
    /* color: black; */
    font-weight: bolder;
    margin-top: 10px;
}
#secondsidepageh2{
    font-size: 60px;
    /* color: black; */
    margin: 15px 0px;
}
#secondsidepageh2mon{
    font-size: 30px;
    color: rgb(218, 212, 212);
}
#secondsidepagep{
    /* color: black; */
    font-weight: 20px;
    font-size: 15px;
    line-height: 20px;
}
#secondsidepagep2{
    font-weight: bold;
    color: hwb(212 46% 5%);
}
.secondsidepageul{
    list-style: none;
    padding-left: 12px;
    line-height: 40px;
    align-items: center;
    /* color: rgb(77, 75, 75); */
    font-weight: lighter;
    justify-content: center;
}
#secondsidepageli{
    padding-right: 12px;
    position: relative;
    top: 5px;
}
#secondsidepagebtn{
    padding: 20px 115px;
    margin: 20px 10px;
    border-radius: 35px;
    background-color: white;
    font-size: 20px;
    color: hwb(212 21% 5%);
    border: none;
}

.thirdsidepage{
    background-color: white;
    color: gray;
    padding: 20px 20px;
    border-radius: 25px;
}
#thirdsidepageh1{
    color: black;
    font-weight: bolder;
    margin-top: 10px;
}
#thirdsidepageh2{
    font-size: 60px;
    color: black;
    margin: 15px 0px;
}
#thirdsidepageh2mon{
    font-size: 30px;
    color: gray;
}
#thirdsidepagep{
    color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}
#thirdsidepagep2{
    font-weight: bold;
    color: rgb(235, 223, 223);
}
.thirdsidepageul{
    list-style: none;
    padding-left: 12px;
    line-height: 40px;
    align-items: center;
    color: rgb(77, 75, 75);
    font-weight: bold;
    justify-content: center;
}
#thirdsidepageli{
    padding-right: 12px;
    position: relative;
    top: 5px;
}
#thirdsidepagebtn{
    padding: 20px 115px;
    margin: 20px 10px;
    border-radius: 35px;
    background-color: hwb(212 21% 5%);
    font-size: 20px;
    color: white;
    border: none;
}

.rthpage{
    padding: 90px 0px;
    padding-left: 70px;
}
.rthupper{
    display: flex;
    gap: 170px;
}
#rthupperh1{
    font-size: 60px;
    line-height: 80px;
}
#rthupperp{
    font-size: 23px;
    color: rgb(150, 146, 146);
    line-height: 35px;
    margin-top: 60px;
}

.rthpageboxsection{
    display: flex;
    margin: 30px 0px;
    gap: 35px;
}
.rthpageboxleft{
    padding: 40px 30px;
    background-color: black;
    color: rgb(201, 198, 198);
    border-radius: 30px;
    font-size: 25px;
    line-height: 40px;
    width: 550px;
}
#rthpageleftname{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}
#rthpageleftceo{
    font-size: 20px;
}

.rthpageboxright{
    padding: 40px 30px;
    /* background-color: black; */
    /* color: rgb(201, 198, 198); */
    border-radius: 30px;
    font-size: 28px;
    line-height: 40px;
    border: 1px solid rgb(204, 199, 199);
    position: relative;
    /* right: -80px; */
}
#rthpageboxrightname{
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}
#rthpageboxrightceo{
    font-size: 20px;
}

.blank{
    height: 8px;
    /* background-color: hwb(212 21% 5%); */
    display: flex;
    padding-top: 50px;
}

#blankline2{
    width: 1120px;
    height: 8px;
    background-color: rgb(233, 229, 229);
    /* border-radius: 4px; */
}
#blankline1{
    width: 150px;
    height: 8px;
    background-color: hwb(212 21% 5%);
    border-radius: 4px;
}

.lastpage{
    padding: 70px 80px;
    background-color: black;
    color: white;
}
#lastpageh1{
    font-size: 55px;
    text-align: center;
    line-height: 75px;
}

.lastpagebtn{
    margin: 75px 0px;
    pad: 70px 30px;
    background-color: rgb(37, 37, 37);
    padding: 35px 20px;
    border-radius: 20px;
}

#lastpagebtn1{
    width: 300px;
    padding: 22px 0px;
    padding-left: 24px;
    margin-left: 20px;
    text-align: left;
    background-color: rgb(56, 55, 55);
    color: rgb(170, 164, 164);
    font-size: 20px;
    border-radius: 40px;
    border: none;
}

#lastpagebtn2{
    width: 130px;
    padding: 22px 0px;
    /* padding-left: 24px; */
    margin-left: 20px;
    text-align: center;
    background-color: hwb(212 21% 5%);
    color: white;
    font-size: 20px;
    border-radius: 40px;
    border: none;
}

#lastpageunderscore{
    color: rgb(61, 60, 60);
    font-weight: bold;
}
#lastpageunderscore2{
    color: rgb(61, 60, 60);
    font-weight: bold;
}

.lastpagefoot{
    display: flex;
    padding: 40px 0px;
    color: rgb(184, 180, 180);
    justify-content: center;
    gap: 120px;
    font-size: 18px;
    font-weight: lighter;
    line-height: 38px;
    list-style: none;
}

.lastpageul{
    list-style: none;
}
#ul1{
    font-size: 20px;
    color: rgb(235, 228, 228);
    padding-bottom: 18px;
}

#lastpagelogo{
    padding-top: 20px;
}